segmentation-refinement
pyransac3d
git+https://github.com/lucasb-eyer/pydensecrf.git

imageio
matplotlib
scikit-image==0.17.2

imageio-ffmpeg
pandas
argparse
cython
scipy
onnxruntime
gradio==2.9.4

open3d
trimesh==3.9.36
# rtree==1.0.0
